<a href="https://colab.research.google.com/github/MMoltira/data_viz/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #import แพคเกจ pandas เปลี่ยนชื่อเป็น pd

In [2]:
from google.colab import drive #เชื่อม Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
day1 = pd.read_excel('/content/drive/My Drive/DWDM_material/raidai.xls',sheet_name=0,skiprows=1)
day1 #head คือดูแค่หัวตาราง

         Unnamed: 0  Unnamed: 1  ...   Unnamed: 11          Unnamed: 12
0               NaN         NaN  ...           NaN                  NaN
1    ภาค และจังหวัด         NaN  ...   2558.000000  Region and province
2               NaN         NaN  ...   2015.000000                  NaN
3               NaN         NaN  ...           NaN                  NaN
4   ทั่วราชอาณาจักร         NaN  ...  26914.846584        Whole Kingdom
..              ...         ...  ...           ...                  ...
82             ตรัง         NaN  ...  23309.100000                Trang
83           พัทลุง         NaN  ...  21478.300000           Phattalung
84          ปัตตานี         NaN  ...  17513.000000              Pattani
85             ยะลา         NaN  ...  15583.800000                 Yala
86         นราธิวาส         NaN  ...  19889.600000           Narathiwat

[87 rows x 13 columns]